{% extends "base.html" %}
{% load static %}
{% block title %} {{ article.title|title}} {% endblock %}
{% block css %}
    <link rel="stylesheet" href=" {% static 'blog/post.css' %} ">


{% endblock  %}

{% block body %}
    <section id="summary">
        <h2> {{article.title|title}} </h2>
        <article>
            <img src="{% static "blog/img/"|add:article.image %}" alt="{{article.title}}">
            <address>Автор поста {{article.author}}</address>
            <div>
                Последнее обновление <time>{{article.date|date:"d M Y"}} </time>
            </div>
        </article>
    </section>

    <main>
        <p>
            {{article.content|linebreaks}}
        </p>
       
    </main>
{% endblock %}