{% extends "base.html" %}
{% load static %}

{% block title %} My personal blog. {% endblock %}
{% block css %} <link rel="stylesheet" href=" {% static 'blog/blog.css' %} "> {% endblock  %}
{% block body %}


    <header id='main-navigation'>
        <h1> <a href="">На главную</a> </h1>
        <nav>
            <a href="">Блог</a>
        </nav>

    </header>

    <section id='welcome'>
        <header>
            <img src="{% static  "blog/img/max.png" %}" alt="Алексей - автор этого блога.">
            <h2>БЛОГ ЗАХАРЧЕНКО АЛЕКСЕЯ</h2>            
        </header>
        <p>Здравствуйте. Меня зовут Алексей и мне нравится вести блог о своих успехах в разработке и личных успехах.</p>
    </section>

    <section id='latest-post'>
        <h2>Мои последние посты.</h2>
        <ul>
            <li>  
                <article class="post">                   
                    <a href="">
                        <img src="{% static "blog/img/chtoto.jpg" %}" alt="Что-то о чем-то" />
                        <div class="post__content">
                            <h3>Интересное чтиво.</h3>
                            <p>Здесь расказывается о чем-то, что связанно с картинкой выше. В действительности нужно просто
                                написать несколько строк текста, чтобы заполнить место. Чтобы страница не выглядела пустой
                                нужно написать буквально несколько строчек не о чем. Это не трудно сделать, если представить,
                                что пишешь диплом.
                            </p>
                        </div>
                    </a>

                </article> 
            </li>
        </ul>
    </section>
    <section id='about'>
        <h2>Чем я занимаюсь?</h2>
        <p>Мне нравится программировать, решать логические задачи, помогать окружающим, читать книги в жанре фентези.
            Я люблю смотреть новости и ролики о последних достижениях науки и техники.</p>
        <p>Моя цель состоит в том, чтобы постоянно развиваться как программист и как личность. С помощью своих 
            навыков я бы хотел изменить мир к лучшему.
        </p>

    </section>
{% endblock %}
