{% extends "base.html" %}
{% load static %}
{% block title %} My personal blog. {% endblock %}
{% block css %}
    <link rel="stylesheet" href=" {% static 'blog/post.css' %} "> 
    <link rel="stylesheet" href=" {% static 'blog/index.css' %} "> 
{% endblock  %}
{% block body %}




    <section id='welcome'>
        <header>
            <img src="{% static  "blog/img/max.png" %}" alt="Алексей - автор этого блога.">
            <h2>БЛОГ ЗАХАРЧЕНКО АЛЕКСЕЯ</h2>            
        </header>
        <p>Здравствуйте. Меня зовут Алексей и мне нравится вести блог о своих успехах в разработке и личных успехах.</p>
    </section>

    <section id='latest-post'>
        <h2>Мои последние посты.</h2>
        <ul>
            {% for post in posts %}

            {% include "blog/includes/post_preview.html" %}

            {% endfor %}
        </ul>
    </section>
    <section id='about'>
        <h2>Чем я занимаюсь?</h2>
        <p>Мне нравится программировать, решать логические задачи, помогать окружающим, читать книги в жанре фентези.
            Я люблю смотреть новости и ролики о последних достижениях науки и техники.</p>
        <p>Моя цель состоит в том, чтобы постоянно развиваться как программист и как личность. С помощью своих 
            навыков я бы хотел изменить мир к лучшему.
        </p>

    </section>
{% endblock %}
