{% extends "base.html" %}
{% load static %}
{% block title %} Блог {% endblock %}
{% block css %}
    <link rel="stylesheet" href=" {% static 'blog/post.css' %} "> 
    <link rel="stylesheet" href="{%static 'blog/posts.css'%}">
{% endblock  %}
{% block body %}
    


    <section id='all-posts'>
        <h2>Мой Блог.</h2>
        <ul>
            {% include "blog/includes/post_preview.html" %}
            {% include "blog/includes/post_preview.html" %}
            {% include "blog/includes/post_preview.html" %}
            {% include "blog/includes/post_preview.html" %}
            {% include "blog/includes/post_preview.html" %}
        </ul>
    </section>
    
{% endblock %}
