body {
  background-color: #e7e7e7;
}

#main-navigation {
  background-color: #390281;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: 0 0 20px 0;
}

#summary {
  margin: 8rem auto 3rem auto;
  padding: 2rem;
  width: 90%;
  border-radius: 16px;
  background-color: #5706c0;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 22rem;
}

#summary h2 {
  color: white;
  font-size: 4.5rem;
  margin-bottom: 0.25rem;
}

#summary article {
  position: absolute;
  top: 2rem;
  right: 3rem;
  padding: 1rem 1rem;
  border-radius: 12px;
  text-align: right;
  color: white;
}

#summary article img {
  width: 12rem;
  height: 12rem;
  border-radius: 12px;
  transform: rotateZ(5deg);
  border: 5px solid white;
  margin-bottom: 1rem;
}

#summary address {
  font-weight: bold;
}
#summary a{
  color: wheat;
  text-decoration: none;
}
#summary time {
  font-weight: bold;
}



.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.post a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
  padding: 1rem;
}

.post a:hover,
.post a:active {
  transform: scale(1.1);
  background-color: #390281;
  color: white;
}

.post img {
  width: 5rem;
}

.post {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.post a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
  padding: 1rem;
}

.post a:hover,
.post a:active {
  transform: scale(1.1);
  background-color: #390281;
  color: white;
}

.post img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.post h3 {
  margin: 0.25rem 0;
}

.post time {
  color: #666666;
  margin: 0.25rem;
  font-style: italic;
  font-size: 0.85rem;
}

.post:hover time,
.post:active time {
  color: white;
}

main {
  width: 90%;
  max-width: 90rem;
  margin: 3rem auto;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.tag {
  background-color: white;
  color: #390281;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.tag a{
  color: #390281;
}
#comment-form {
  margin: 3rem auto;
  border-radius: 12px;
  width: 90%;
  max-width: 40rem;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

#comment-form button{
  font: inherit;
  background-color: #390281;
  color: white;
  border: 1px solid #390281;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}
#comment-form button:hover{
  background-color: #8451c7;
  border-color: #8451c7;
}


.form-control {
  margin: 0 0 1rem 0
}

.form-control label{
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid rgb(180, 177, 177);
}

.errorlist{
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  color: rgba(255, 13, 13, 0.966)
}

.invalid label{
  color: rgba(255, 13, 13, 0.966)
}

.invalid input,
.invalid textarea{
  border-color: red;
  background-color: rgb(247, 220, 234);
}

#alert {
  margin: 8rem auto 3rem auto;
  border: 1px solid rgba(255, 13, 13, 0.966);
  background-color: rgb(247, 220, 234);
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}
#alert a{
  text-decoration: none;
  border: 1px solid rgba(255, 13, 13, 0.966);
  background-color: rgb(151, 23, 89);
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  color: white;
}

#comments {
  margin: 3rem auto;
  border-radius: 12px;
  width: 90%;
  max-width: 60rem;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;
}

#comments ul{
  list-style: none;
  margin: none;
  padding: 0;
}

#comments li{
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
}

#comments li:last-of-type{
  border-bottom: none;
}