{% load static %}
<li>  
    <article class="post">                   
        <a href="">
            <img src="{% static "blog/img/chtoto.jpg" %}" alt="Что-то о чем-то" />
            <div class="post__content">
                <h3>Интересное чтиво.</h3>
                <p>Здесь расказывается о чем-то, что связанно с картинкой выше. В действительности нужно просто
                    написать несколько строк текста, чтобы заполнить место. Чтобы страница не выглядела пустой
                    нужно написать буквально несколько строчек не о чем. Это не трудно сделать, если представить,
                    что пишешь диплом.
                </p>
            </div>
        </a>
    </article> 
</li>